<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MY APP -
        <%=title %>
    </title>
</head>

<body>
    <h3>User</h3>

    <p>
        Name:
        <%=user.name %>
    </p>
    <p>
        Password:
        <%=user.password %>
    </p>
    
</body>

</html>
