<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP - <%=title %></title>
</head>
<body>
<h3>Users <a href="/users/create">Add</a></h3>
<ul>
   <% users.forEach(function(user){ %>
   <li><a href="/users/<%=user.id %>"><%=user.name %> <%=user.password %></a></li>
  <% }); %>
</ul>
</body>
</html>